<%- include ('./partials/header.ejs') %>
<%- include ('./partials/nav.ejs') %>

<div class="container posts_area">
  <nav class="categories_nav">
    <h2>Categorias</h2>
    <ul>
      <li><a href="/">Todos</a></li>
      <% categories.forEach(category => { %>
        <li><a href="/posts/<%= category.tag %> "><%= category.title %></a></li>
      <% }) %>
    </ul>
  </nav>
  <div class="posts">
    <% if (posts) { %>
      <% posts.forEach(post => { %>
        <a href="/post/<%= post.slug %>" class="post_item">
          <%= post.title %>
        </a>
      <% }) %>
    <% } else {%>
      <p class="no-posts">Não há posts cadastrados com essa categoria</p>
    <%}%>
  </div>
  <div style="margin-top: 20px;">
    <% if (page == 2) { %>
      <a href="/" class="btn-paginate">Anterior</a>
    <% } else {%>
      <a href="/page/<%= page - 1%>" class="btn-paginate">Anterior</a>
    <% } %>

    <% if (next) { %>
      <a href="/page/<%=page  + 1 %>" class="btn-paginate">prox</a>
    <% } %>
    <span style="margin-left: 30px;" class="btn-paginate">Pagina <%= page %> de <%= lastPage %> </span>
  </div>
</div>

<%- include ('./partials/footer.ejs') %>