<%- include ('../../partials/header.ejs') %>
<%- include ('../partials/nav.ejs') %>

<div class="container">
  <h2>Editar post</h2>
  <form action="/admin/posts/updt" method="POST" class="form">
    <input type="hidden" name="id" value="<%= post.id %> ">
    <label for="title">Titulo</label>
    <input type="text" id="title" name="title" value="<%= post.title %> ">
    <label for="category">Categoria</label>
    <select name="category" id="category" name="category">
      <option selected disabled>Selecionar</option>
      <% categories.forEach(({title, id}) => { %>
        <%if(id == post.category_id) { %>
          <option value="<%= id %>" selected><%= title %> </option>
        <% }else{ %>
          <option value="<%= id %>"><%= title %> </option>
        <% } %>
      <% }) %>
    </select>
    <textarea name="body" id="body"><%- post.body %> </textarea>
    <button type="submit">Cadastrar</button>
  </form>
</div>

<%- include ('../../partials/footer.ejs') %>