<%- include ('../../partials/header.ejs') %>
<%- include ('../partials/nav.ejs') %>

<div class="container">
  <h2>Editar post</h2>
  <form action="/admin/posts/updt" method="POST" class="form">
    <input type="hidden" name="id" value="<%= post.id %> ">
    <label for="title">Titulo</label>
    <input type="text" id="title" name="title" value="<%= post.title %> ">
    <label for="category">Categoria</label>
    <select name="category" id="category" name="category">
      <option selected disabled>Selecionar</option>
      <% categories.forEach(({title, id}) => { %>
        <%if(id == post.category_id) { %>
          <option value="<%= id %>" selected><%= title %> </option>
        <% }else{ %>
          <option value="<%= id %>"><%= title %> </option>
        <% } %>
      <% }) %>
    </select>
    <label for="body">Conteudo</label>
    <textarea name="body" id="body"></textarea>
    <button type="submit">Cadastrar</button>
  </form>
</div>
<div class="body_content" style="display: none;">
  <%- post.body %> 
</div>
<script src="https://cdn.tiny.cloud/1/etrsjmncyyzpvyy7a1wovpdcugxdsueb039avcwuh4v9slbm/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
  tinymce.init({
    selector: '#body',
    plugins: 'advlist link image lists code',
    toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | outdent indent',
    language: 'pt_BR',
    height: 500,
    setup: function (editor) {
      editor.on('init', function (e) {
        editor.setContent(document.querySelector(".body_content").innerHTML);
      });
    }
  });
</script>

<%- include ('../../partials/footer.ejs') %>