<%- include ('../../partials/header.ejs') %>
<%- include ('../partials/nav.ejs') %>

<div class="container">
  <h2>Adicionar novo post</h2>
  <form action="/admin/posts/add" method="POST" class="form" id="form">
    <% if (error) { %>
      <div class="error">
        <p><%= error %> </p>
      </div>
    <% } %>
    <label for="title">Titulo</label>
    <input type="text" id="title" name="title">
    <label for="category">Categoria</label>
    <select name="category" id="category" name="category">
      <option value="" selected disabled>Selecionar</option>
      <% categories.forEach(({title, id}) => { %>
       <option value="<%= id %>"><%= title %> </option>
      <% }) %>
    </select>
    <label for="body">Conteudo</label>
    <textarea name="body" id="body"></textarea>
    <button type="submit" id="btnNew">Cadastrar</button>
  </form>
</div>
<script src="/js/admin/posts/new.js"></script>
<script src="https://cdn.tiny.cloud/1/etrsjmncyyzpvyy7a1wovpdcugxdsueb039avcwuh4v9slbm/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
  tinymce.init({
    selector: '#body',
    plugins: 'advlist link image lists code',
    toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | outdent indent',
    language: 'pt_BR',
    height: 500
  });
</script>
<%- include ('../../partials/footer.ejs') %>