<%- include ('../../partials/header.ejs') %>
<%- include ('../partials/nav.ejs') %>

<div class="container">
  <h2>Adicionar novo post</h2>
  <form action="/admin/posts/add" method="POST" class="form">
    <label for="title">Titulo</label>
    <input type="text" id="title" name="title">
    <label for="category">Categoria</label>
    <select name="category" id="category" name="category">
      <option selected disabled>Selecionar</option>
      <% categories.forEach(({title, id}) => { %>
       <option value="<%= id %>"><%= title %> </option>
      <% }) %>
    </select>
    <textarea name="body" id="body"></textarea>
    <button type="submit">Cadastrar</button>
  </form>
</div>

<%- include ('../../partials/footer.ejs') %>